<!DOCTYPE html>
<html lang="en">
<head>
  <title>NODE JS Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
                <!-- Links -->
                  <ul class="navbar-nav ">
                    <li class="nav-item">
                      <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                    </li>
                  </ul>            
    </nav>
    <main class="my-form">
        <!-- <div class="container"> -->
            <div class="row justify-content-center">
                <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Register</div>
                            <div class="card-body">
                                    <!-- //" if added req.body do not contain img -->
                                <form name="my-form" action="/adddetail" method="POST" > 
                                    <div class="form-group row">
                                        <label for="name" class="col-md-4 col-form-label text-md-right">Full Name</label>
                                        <div class="col-md-6">
                                            <input type="text" id="name" class="form-control" name="name">
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                        <div class="col-md-6">
                                            <input type="email" id="email" class="form-control" name="email">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                            <label for="phone" class="col-md-4 col-form-label text-md-right">Phone</label>
                                            <div class="col-md-6">
                                                <input type="text" id="phone" class="form-control" name="phone">
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                            <label for="location" class="col-md-4 col-form-label text-md-right">Country</label>
                                            <div class="col-md-6">
                                                <!-- <input type="text" id="location" class="form-control" name="location"> -->
                                                <select id="location" class="form-control" name="location">
                                                    <% var oldCountry = '' %>
                                                    <% for(let i=0;i< arr.length;i++) { %>
                                                        <% if(arr[i].country != oldCountry) {  %>
                                                            <option><%= arr[i].country %></option>
                                                            <% var oldCountry = arr[i].country %>
                                                     <% }} %>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group row"> 
                                            <label for="location" class="col-md-4 col-form-label text-md-right">State</label>
                                            <div class="col-md-6">
                                                <!-- <input type="text" id="location" class="form-control" name="location"> -->
                                                <select id="location" class="form-control" name="location">
                                                    <% for(let i=0;i< arr.length;i++) { %>
                                                       <option><%= arr[i].states %></option>
                                                     <% } %>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="pwd" class="col-md-4 col-form-label text-md-right">Password</label>
                                        <div class="col-md-6">
                                            <input type="password" id="pwd" class="form-control" name="pwd">
                                        </div>
                                    </div>
                                    <!-- <div class="form-group row">
                                            <label for="pwdConfirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                                            <div class="col-md-6">
                                                <input type="password" id="pwdConfirm" class="form-control" name="pwdConfirm">
                                            </div>
                                        </div> -->
    
                                        
                                    <div class="form-group row">
                                        <label for="img" class="col-md-4 col-form-label text-md-right">Upload your photo</label>
                                        <div class="col-md-6">
                                           <input type="file" id="img" class="form-control" name="img" multiple>
                                         </div>
                                    </div>

                                    <div class="col-md-6 offset-md-4">
                                        <input type="submit" class="btn btn-primary /">
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        <!-- </div> -->
    
    </main>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>

